@font-face {
  font-family: YakuHanJP;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/YakuHanJPs-Light.woff");
}
@font-face {
  font-family: PRTIMES;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/PRTimes.woff") format("woff");
}

@font-face {
  font-family: "Noto Sans CJK";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/NotoSansCJKjp-Regular.woff");
}

@font-face {
  font-family: "Noto Sans CJK";
  font-style: bold;
  font-weight: 700;
  src: url("/fonts/NotoSansCJKjp-Bold.woff");
}

@font-face {
  font-family: "Noto Sans CJK";
  font-weight: 900;
  src: url("/fonts/NotoSansCJKjp-Black.woff");
}
$prtimes_color: #2c4c7c;
$prtimes_black: #484848;
$letter_bg: #f4f4f4;
$btn_color: #f85414;
$light_gray: #f4f3f3;
$dark_gray: #848484;
$sitemap_color: #abb4c4;
$white: white;
body {
  font-family: YakuHanJP, "Noto Sans CJK", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 16px;
}
h1 {
  font-family: PRTIMES, sans-serif;
  letter-spacing: 4px;
  font-size: 4rem;
  span {
    font-family: YakuHanJP, "Noto Sans CJK", sans-serif;
    padding: 0 10px;
    font-size: 1rem;
    letter-spacing: 2px;
  }
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.main_btn {
  position: relative;
  display: inline-block;
  background-color: $btn_color;
  color: $white;
  text-decoration: none;
  font-size: 0.8rem;
  padding: 18px 55px;
  border-radius: 30px;
  font-weight: 900;
  &:hover {
    &::before {
      transform: scale(1.2);
    }
  }
  &::before {
    position: absolute;
    display: inline-block;
    content: "";
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background-color: $btn_color;
    transition: all 1s;
  }
}
.line_animation {
  padding: 0 35px;
  border-bottom: solid 3px $white;
  position: relative;
  &:hover {
    &::before {
      padding: 0 35px;
    }
  }
  &::before {
    content: "";
    position: absolute;
    float: right;
    top: 22px;
    right: 0px;
    padding: 0 15px;
    border-bottom: solid 3px $prtimes_color;
    transition: all 1s;
  }
}
.line_animation_2 {
  position: absolute;
  float: right;
  transition: all 1s;
  border-bottom: solid 3px $white;
  bottom: 10px;
  right: 14px;
  padding: 0 7px;
  &:hover {
    padding: 0 35px;
  }
  &::after {
    content: "";
    position: absolute;
    padding: 0 28px;
    bottom: -3px;
    right: 14px;
    border-bottom: solid 3px #909ce4;
    transition: all 0.2s;
    z-index: -1;
  }
  &::before {
    content: "";
    position: absolute;
    padding: 0 35px;
    bottom: -3px;
    right: 0;
    border-bottom: solid 3px $white;
    transition: all 1s;
    z-index: -1;
  }
}
.cursor_pointer_orange {
  cursor: pointer;
}
.wrapper {
  header {
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    background-color: $white;
    z-index: 2;
    animation: header_fadeIn 1s forwards;
    animation-delay: 4.5s;
    .header_bg {
      position: fixed;
      top: 0;
      .mobile_menu {
        position: absolute;
        display: none;
        flex-direction: column;
        top: 80px;
        left: 35px;
        background-color: $prtimes_color;
        width: 100%;
        height: 100vh;
        z-index: 2;
        .mobile_menu_item {
          display: inline-block;
          color: $white;
          padding: 8px 15px;
          font-size: 1.3rem;
          text-decoration: none;
          font-weight: bold;
          &:hover {
            color: $btn_color;
          }
        }
        .mobile_menu_footer {
          position: absolute;
          bottom: 100px;
          width: 100%;
          display: flex;
          justify-content: space-between;
          .social_items {
            width: 30%;
            .social_item {
              display: inline-block;
              text-decoration: none;
              color: $white;
              padding: 0 5px;
              .fa-facebook-f::before,
              .fa-twitter::before,
              .fa-instagram::before {
                font-size: 20px;
              }
            }
          }
          .company_service {
            width: 190px;
            float: right;
            a {
              text-decoration: none;
              color: $white;
            }
          }
        }
      }
      &::before {
        content: "";
        position: relative;
        width: 0px;
        height: 0px;
        top: 0;
        left: 0;
        display: block;
        border-top: 30px solid $prtimes_color;
        border-bottom: 30px solid transparent;
        border-right: 30px solid transparent;
      }
    }
    nav {
      position: relative;
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 15px 30px;
      .logo {
        display: flex;
        width: 30%;
        img {
          width: 160px;
          height: 60px;
        }
        p {
          text-transform: uppercase;
          color: $prtimes_color;
          font-weight: 700;
          padding: 10px 7px 0 7px;
          font-size: 12px;
        }
      }
      .menu {
        padding: 21px 0;
        width: auto;
        .menu_item {
          display: inline-block;
          text-decoration: none;
          color: $prtimes_black;
          font-size: 14px;
          padding: 0 10px;
          font-weight: bolder;
        }
      }
      .mobile_menu_btn {
        position: relative;
        padding: 21px 0;
        display: none;
        #open_mobile_menu {
          color: $prtimes_color;
          position: absolute;
          right: 5px;
          top: 30%;
        }
        #close_mobile_menu {
          color: $white;
          position: absolute;
          right: 8px;
          top: 30%;
          visibility: hidden;
        }
      }
    }
  }
  .container {
    .loading {
      background-color: $prtimes_color;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 10;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      animation: loading_fadeOut 2s forwards;
      animation-delay: 2.5s;
      h1 {
        position: relative;
        color: $white;
        font-size: 6rem;
        animation: loading 0.7s ease-in-out;
        &::before {
          content: "";
          position: absolute;
          left: 147px;
          top: 70px;
          display: inline-block;
          animation: T_animation 0.7s forwards;
          width: 0;
          z-index: -1;
          border-left: 16px solid transparent;
          border-bottom: 25px solid white;
          animation-delay: 1s;
        }
        &::after {
          content: "";
          position: absolute;
          left: 187px;
          top: 18px;
          transform: rotate(180deg);
          display: inline-block;
          border-left: 16px solid transparent;
          border-bottom: 25px solid white;
          animation: T_animation 0.7s forwards;
          animation-delay: 1s;
          width: 0;
          z-index: -1;
        }
      }
    }
    .hero_grid {
      padding: 100px 0;
      color: $prtimes_color;
      height: 800px;
      width: 100%;
      .description {
        padding: 0 10%;
        h1 {
          font-size: 5.5rem;
        }
        h3 {
          font-size: 2rem;
          position: relative;
          &::before {
            content: "";
            position: absolute;
            width: 35px;
            border-bottom: solid 2px $prtimes_color;
            top: 20px;
            left: -47px;
          }
          span {
            display: block;
            font-size: 2rem;
          }
        }
      }
      .slide {
        display: flex;
        position: relative;
        z-index: 2;
        .slide_cover:hover ~ .slide_des {
          .line_animation_2 {
            padding: 0 35px;
          }
        }
        .slide_des:hover ~ .slide_cover img {
          transform: scale(1.03);
        }
        .carousel {
          position: absolute;
          top: -60px;
          right: 85px;
          font-size: 1rem;
          display: flex;
          p {
            display: inline-block;
            letter-spacing: 4px;
            color: $prtimes_black;
            font-weight: bold;
          }
          .order_transition {
            &::after {
              content: "";
              position: absolute;
              top: 27px;
              right: 152px;
              display: inline-block;
              border-bottom: solid 2px $prtimes_black;
              width: 14px;
            }
          }
          .order_transition,
          .order_fixed {
            padding: 15px 5px;
            margin: 0 5px;
          }
          .previous_slide,
          .next_slide {
            padding: 16px 16px;
            text-align: center;
            background-color: $light_gray;
            border-radius: 50%;
            margin: 0 5px;
          }
        }
        .slide_list {
          display: flex;
          .slide_item {
            display: none;
            .slide_cover {
              img {
                float: left;
                position: absolute;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: left center;
                clear: both;
                width: 70vw;
                height: 30vw;
                transition: all 0.5s ease-in-out;
                &:hover {
                  transform: scale(1.03);
                }
              }
            }
            .slide_des {
              &:hover {
                .line_animation_2 {
                  padding: 0 35px;
                }
              }
              float: right;
              position: absolute;
              background-color: $prtimes_color;
              color: $white;
              padding: 3rem 2rem;
              top: 32px;
              right: 0;
              width: 30vw;
              height: 25vw;
              h3 {
                font-size: 1rem;
                padding: 1.5rem 0;
                letter-spacing: 3px;
              }
              p {
                font-size: 1.5em;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
    .mission_grid {
      position: relative;
      text-align: center;
      height: 650px;
      .mission_title {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        h1 {
          color: $letter_bg;
          font-size: 10rem;
        }
      }
      .mission_body {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        top: 180px;
        left: 0;
        right: 0;
        text-align: center;
        font-weight: 900;
        p {
          color: $prtimes_color;

          font-size: 3rem;
          .mobile_block {
            content: "";
            display: none;
          }
        }
      }
    }
    .services_grid {
      position: relative;
      width: auto;
      height: auto;
      background-image: linear-gradient(
          rgba(44, 76, 124, 0.8),
          rgba(44, 76, 124, 0.8)
        ),
        url("/image/office.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 1;
      color: $white;
      padding: 30px 60px;
      .description {
        p {
          font-size: 0.9rem;
          margin-bottom: 30px;
        }
      }
      .service_list ul {
        display: grid;
        grid-template-columns: 50% 50%;
        .service_item {
          border: solid $white 1px;
          padding: 30px 30px;
          display: flex;
          .cover {
            height: auto;
            position: relative;
            display: inline-block;
            img {
              width: 15vw;
              height: 15vw;
              vertical-align: top;
              position: relative;
              transform: translate(-50%);
              left: 50%;
              object-fit: cover;
              &:hover {
                opacity: 0.85;
              }
            }
          }
          .service_items_description {
            padding: 0 10px;
            a {
              text-decoration: none;
              color: $white;
              h3 {
                font-size: 1.1rem;
              }
            }
          }
        }
      }
      .service_btn {
        text-align: center;
        padding: 20px 0;
        a {
          margin: 0 10px;
        }
      }
    }
    .news_grid {
      padding: 50px 50px;
      .description {
        position: relative;
        display: flex;
        color: $prtimes_color;
        justify-content: space-between;
        a {
          position: relative;
          display: inline-block;
          color: $prtimes_black;
          text-align: center;
          margin: auto 0;
          font-size: 0.7rem;
          &:hover {
            ::before {
              width: 25px;
            }
          }
          ::before {
            content: "";
            position: relative;
            top: -2px;
            right: 10px;
            display: inline-block;
            border-bottom: solid 2px $prtimes_black;
            width: 16px;
            transition: all 0.3s ease-in-out;
          }
        }
      }
      .news_list {
        .see_all_btn {
          display: none;
        }
        ul {
          list-style-type: none;
          display: flex;
          flex-direction: column;
          a .news_item {
            display: inline-block;
            padding: 30px 30px;
            margin: 10px 0;
            background-color: #f4f3f3;
            position: relative;
            display: flex;
            &:hover {
              .news_detail .tag_news .line_animation {
                &::before {
                  padding: 0 35px;
                }
              }
            }
            .cover {
              position: relative;
              display: inline-block;
              img {
                width: 15vw;
              }
            }
            .news_detail {
              color: #444444;
              padding: 0 20px;
              position: relative;
              width: 100%;
              .news_summary {
                font-weight: 600;
              }
              .tag_news {
                text-align: center;
                display: flex;
                justify-content: space-between;
                position: relative;
                p {
                  margin: 0;
                  background-color: $dark_gray;
                  width: 125px;
                }
              }
            }
          }
        }
      }
    }
    .culture_gird {
      background-color: $light_gray;
      padding: 50px 50px;
      padding-bottom: 300px;
      .description {
        display: flex;
        justify-content: space-between;
        h1 {
          color: $prtimes_color;
        }
        a {
          position: relative;
          display: inline-block;
          color: $prtimes_black;
          text-align: center;
          margin: auto 0;
          font-size: 0.7rem;
          &:hover {
            ::before {
              width: 25px;
            }
          }
          ::before {
            content: "";
            position: relative;
            top: -2px;
            right: 10px;
            display: inline-block;
            border-bottom: solid 2px $prtimes_black;
            width: 16px;
            transition: all 0.3s ease-in-out;
          }
        }
      }
      .culture_list {
        display: flex;
        justify-content: center;
        align-items: center;
        .culture_item {
          padding: 0 30px;
          position: relative;
          width: 23vw;
          height: 16vw;
          &:hover {
            .content .line_animation_2 {
              padding: 0 35px;
            }
            .cover {
              img {
                transform: scale(1.1);
              }
            }
          }
          .cover {
            position: relative;
            height: 16.1vw;
            overflow: hidden;
            img {
              width: 23vw;
              height: 16vw;
              transition: all 0.5s ease-in-out;
            }
          }
          .content {
            position: relative;
            background-color: $prtimes_color;
            color: $white;
            padding: 20px 25px;
            height: 200px;
            font-weight: bold;
            font-size: 1.1rem;
            z-index: 1;
          }
          .culture_tag {
            position: absolute;
            bottom: -18px;
            background-color: $white;
            color: $prtimes_color;
            font-size: 0.6rem;
            text-align: center;
            padding: 1.3px 10px;
            z-index: 2;
            font-weight: bold;
            &::before {
              content: "";
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 18px 18px 0 0;
              border-color: #fff transparent transparent;
              content: "";
              position: absolute;
              right: -18px;
              top: 0;
            }
          }
        }
      }
      .culture_list_mobile {
        display: none;
        .culture_item {
          margin: 0 30px;
          position: relative;
          img {
            width: 75vw;
            transition: all 0.5s ease-in-out;
          }
          .content {
            display: inline-block;
            position: relative;
            margin: 0;
            background-color: $prtimes_color;
            color: $white;
            padding: 20px 25px;
            height: 100px;
            width: auto;
            font-weight: bold;
            font-size: 1.1rem;
            z-index: 1;
          }
          .culture_tag {
            position: absolute;
            bottom: 125px;
            background-color: $white;
            color: $prtimes_color;
            font-size: 0.6rem;
            text-align: center;
            padding: 1.3px 10px;
            z-index: 2;
            font-weight: bold;
            &::before {
              content: "";
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 18px 18px 0 0;
              border-color: #fff transparent transparent;
              content: "";
              position: absolute;
              right: -18px;
              top: 0;
            }
          }
        }
      }
      .see_all_btn {
        display: none;
      }
    }
    .recruit_mobile {
      display: none;
      position: relative;
      padding: 0 30px;
      .recruit_bg {
        position: absolute;
        top: -35px;
        left: 20px;
        h1 {
          color: rgb(244, 244, 244);
          font-size: 6rem;
        }
      }
      .description {
        position: relative;
        padding-top: 125px;
        padding-left: 30px;
        .recuit_label {
          position: absolute;
          top: 80px;
          left: 32px;
          display: inline-block;
          background-color: $prtimes_color;
          color: white;
          padding: 5px 30px;
          font-size: 0.7rem;
          font-weight: bold;
        }
        .recuit_content {
          color: $prtimes_color;
          font-size: 1.4rem;
          font-weight: bold;
          margin-top: 10px;
          margin-bottom: 60px;
          line-height: 1.4;
        }
      }
    }
    .recruit {
      background-image: url("/image/recruit_bg.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center 30%;
      position: relative;
      z-index: 1;
      padding: 125px 125px;
      .recruit_bg {
        position: absolute;
        top: -72px;
        left: 0;
        h1 {
          color: rgba(244, 244, 244, 0.45);

          font-size: 10rem;
        }
      }
      .description {
        position: relative;
        .recuit_label {
          display: inline-block;
          background-color: $prtimes_color;
          color: white;
          padding: 5px 30px;
          font-size: 0.7rem;
          font-weight: bold;
        }
        .recuit_content {
          color: $prtimes_color;
          font-size: 2.5rem;
          font-weight: bold;
          margin-top: 10px;
          margin-bottom: 60px;
        }
      }
    }
  }
  footer {
    position: relative;
    background-color: $prtimes_color;
    display: grid;
    grid-template-columns: 46% 25% 25% 4%;
    padding: 5% 7%;
    a {
      color: $white;
    }
    .footer_info {
      padding: 5px 0;
      .logo {
        img {
          width: 160px;
          height: 65px;
        }
      }
      .social .social_list {
        display: flex;
        padding: 0;
        .social_item {
          display: inline-block;
          margin-right: 10px;
          transition: all 0.3s;
          &:hover {
            transform: scale(1.3);
          }
        }
      }
      .copy_right small {
        display: inline-block;
        padding: 50px 0;
        color: $sitemap_color;
        font-size: 0.7rem;
        font-weight: bold;
      }
    }
    .footer_menu {
      .footer_menu_list {
        display: flex;
        flex-direction: column;
        .footer_menu_item {
          padding: 5px 0;
          display: inline-block;
          font-weight: bold;
          font-size: 0.9rem;
        }
      }
    }
    .footer_sitemap {
      .footer_sitemap_list {
        display: flex;
        flex-direction: column;
        .footer_sitemap_item {
          padding: 5px 0;
          width: 145px;
          display: inline-block;
          font-weight: bold;
          font-size: 0.9rem;
          a {
            color: $sitemap_color;
          }
        }
        .service_site {
          display: inline-block;
          border: solid $white 1px;
          padding: 10px 10px;
          margin: 0;
          margin-top: 15px;
          font-weight: lighter;
          font-size: 0.8rem;
          text-align: center;
          a {
            color: $white;
          }
        }
      }
    }
    .page_top {
      display: inline-block;
      width: 100px;
      top: -55px;
      right: 80px;
      position: relative;
      text-transform: uppercase;
      color: white;
      letter-spacing: 3px;
      font-size: 0.9rem;
      font-weight: bold;
      transform: rotate(90deg);
      transition: all 0.8 ease-in-out;
      &:hover {
        top: -65px;
      }
      &::before {
        content: "";
        position: absolute;
        top: 7px;
        right: 100px;
        display: inline-block;
        width: 30px;
        border-bottom: solid 6px $white;
      }
      &::after {
        content: "";
        position: absolute;
        top: 7px;
        right: 130px;
        display: inline-block;
        border-style: solid;
        border-width: 6px 0px 0px 12px;
        border-color: #fff transparent transparent;
        width: 7px;
      }
    }
  }
}
@media (max-width: 1200px) {
  .wrapper {
    .container {
      .hero_grid {
        .slide {
          .slide_list {
            .slide_item {
              .slide_des {
                height: 23vw;
                padding: 2rem 2rem;
                h3 {
                  font-size: 0.8rem;
                  padding: 1rem 0;
                  letter-spacing: 3px;
                }
                p {
                  font-size: 1.2rem;
                  font-weight: bold;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1085px) {
  .wrapper {
    header {
      nav {
        .logo {
          width: 20%;
          flex-direction: column;
          p {
            padding-top: 0;
          }
        }
      }
    }
  }
}
@media (max-width: 960px) {
  .wrapper {
    header {
      nav {
        padding: 10px 10px;
        .menu {
          display: none;
        }
        .mobile_menu_btn {
          display: block;
        }
        .logo {
          width: 100%;
          flex-direction: row;
          padding: 0 25px;
          p {
            padding: 10px 7px 0 7px;
          }
        }
      }
    }
    .container {
      .recruit {
        padding: 125px 100px;
      }
    }
    footer {
      grid-template-columns: 40% 26% 26% 8%;
    }
  }
}
@media (max-width: 768px) {
  h1 {
    font-family: PRTIMES, sans-serif;
    letter-spacing: 4px;
    font-size: 3rem;
  }
  .wrapper {
    .container {
      .hero_grid {
        padding: 10px 0;
        height: 700px;
        .description {
          padding: 0 10%;
          h1 {
            font-size: 3rem;
          }
          h3 {
            font-size: 1.3rem;
            position: relative;
            &::before {
              width: 20px;
              top: 14px;
              left: -25px;
            }
            span {
              display: block;
              font-size: 1.3rem;
            }
          }
        }
        .slide {
          .carousel {
            .order_transition,
            .order_fixed {
              display: none;
            }
            .previous_slide,
            .next_slide {
              padding: 0;
              margin: 0;
              position: relative;
              background-color: transparent;
              color: $white;
              z-index: 1;
              top: 225px;
            }

            .next_slide {
              right: -60px;
            }
          }
          .slide_list {
            .slide_item {
              .slide_cover {
                img {
                  background-position: center center;
                  clear: both;
                  width: 100%;
                  height: 50vw;
                }
              }
              .slide_des {
                position: absolute;
                color: $white;
                padding: 0.8rem 1rem;
                top: 45vw;
                right: 12vw;
                width: 70vw;
                height: 30vw;
                h3 {
                  font-size: 0.7rem;
                  padding: 0.5rem 0;
                  letter-spacing: 3px;
                }
                p {
                  font-size: 1rem;
                  font-weight: bold;
                }
              }
            }
          }
        }
      }
      .mission_grid {
        position: relative;
        text-align: center;
        height: 450px;
        margin-top: 30px;
        .mission_title {
          position: absolute;
          margin-left: auto;
          margin-right: auto;
          left: 0;
          right: 0;
          text-align: center;
          h1 {
            color: $letter_bg;
            font-size: 6rem;
          }
        }
        .mission_body {
          position: absolute;
          margin-left: auto;
          margin-right: auto;
          left: 0;
          right: 0;
          top: 120px;
          text-align: center;
          font-weight: 900;
          p {
            color: $prtimes_color;
            margin: 0 auto;
            font-size: 2rem;
            .mobile_block {
              content: "";
              display: none;
            }
          }
        }
      }
      .services_grid {
        .description {
          h1 span {
            display: block;
            padding: 0;
          }
        }
        .service_list ul {
          grid-template-columns: 100%;
          padding-left: 0;
          .service_item {
            .service_items_description {
              padding: 0 10px;
              a {
                text-decoration: none;
                color: $white;
                h3 {
                  font-size: 0.9rem;
                }
              }
              p {
                font-size: 0.8rem;
              }
            }
          }
        }
        .service_btn a {
          display: block;
          margin: 20px auto;
          width: 125px;
        }
      }
      .news_grid {
        .description {
          .see_all {
            display: none;
          }
          span {
            display: block;
            padding: 0;
          }
        }
        .news_list {
          .see_all_btn {
            display: inline-block;
            padding: 10px 55px;
            position: relative;
            margin-top: 20px;
            transform: translate(-50%);
            left: 50%;
          }
          ul {
            padding: 0;
            a .news_item {
              padding: 30px 30px;
              margin: 0;
              .cover {
                img {
                  width: 100px;
                }
              }
              .news_detail {
                font-size: 0.8rem;
                padding: 0 20px;
                width: 100%;
                .tag_news {
                  p {
                    margin: 0;
                    width: 120px;
                    font-size: 0.8rem;
                  }
                  .line_animation {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
      .culture_gird {
        padding-bottom: 100px;
        .description {
          h1 span {
            display: block;
            padding: 0;
          }
          .see_all {
            display: none;
          }
        }
        .see_all_btn {
          display: inline-block;
          position: relative;
          padding: 10px 55px;
          transform: translate(-50%);
          left: 53%;
          width: 130px;
          text-align: center;
          top: 60px;
        }
        .culture_list {
          display: none;
        }
        .culture_list_mobile {
          display: block;
        }
      }
      .recruit_mobile {
        display: block;
      }
      .recruit {
        .recruit_bg,
        .description {
          display: none;
        }
        a {
          left: 50%;
          top: 130px;
          transform: translate(-50%, -50%);
        }
      }
    }
    footer {
      grid-template-columns: 50% 50%;
      a {
        color: $white;
      }
      .footer_info {
        .social .social_list {
          padding-top: 250px;
        }
        .copy_right small {
          padding: 20px 0;
        }
      }
      .footer_menu {
        position: absolute;
        top: 93px;
        left: 12px;
      }
      .footer_sitemap {
        position: absolute;
        top: 95px;
        left: 250px;
      }
      .page_top {
        position: absolute;
        top: 135px;
        right: 0;
      }
    }
  }
}
@media (max-width: 550px) {
  .wrapper {
    .container {
      .hero_grid {
        .slide {
          .carousel {
            .previous_slide,
            .next_slide {
              top: 175px;
            }
          }
        }
      }
    }
    footer {
      a {
        color: $white;
      }
      .footer_info {
        .social .social_list {
          padding-top: 250px;
        }
        .copy_right small {
          padding: 20px 0;
        }
      }
      .footer_menu {
        left: 0;
        .footer_menu_list .footer_menu_item {
          font-size: 0.75rem;
        }
      }
      .footer_sitemap {
        left: 120px;
        .footer_sitemap_list .footer_sitemap_item {
          font-size: 0.75rem;
        }
      }
    }
  }
}
@media (max-width: 420px) {
  .wrapper {
    .container {
      .loading {
        h1 {
          font-size: 3.2rem;
          &::before {
            left: 83px;
            top: 40px;
            border-left: 9px solid transparent;
            border-bottom: 11px solid white;
            animation: T_animation_mobile 0.7s forwards;
            animation-delay: 1s;
          }
          &::after {
            left: 107px;
            top: 10px;
            border-left: 9px solid transparent;
            border-bottom: 11px solid white;
            animation: T_animation_mobile 0.7s forwards;
            animation-delay: 1s;
          }
        }
      }
      .hero_grid {
        .description {
          h1 {
            font-size: 2.2rem;
          }
          h3 {
            font-size: 1rem;
            &::before {
              top: 12px;
              width: 15px;
              left: -18px;
            }
            span {
              font-size: 1rem;
            }
          }
        }
        .slide .slide_list .slide_item .slide_des {
          height: 50vw;
        }
        .slide {
          .carousel {
            .previous_slide,
            .next_slide {
              top: 140px;
            }
          }
        }
      }
      .recruit_mobile {
        .recruit_bg {
          top: -35px;
          left: 0;
          h1 {
            color: rgb(244, 244, 244);
            font-size: 5rem;
          }
        }
        .description {
          position: relative;
          padding-left: 0;
          .recuit_label {
            top: 60px;
            left: 5px;
            font-size: 0.55rem;
          }
        }
      }
      .mission_grid {
        .mission_title {
          h1 {
            font-size: 4.8rem;
          }
        }
        .mission_body {
          top: 95px;
          p {
            font-size: 1.6rem;
          }
        }
      }
      .news_grid {
        padding: 50px 20px;
        .news_list {
          ul {
            a .news_item {
              width: 93%;
              padding: 30px 20px;
              margin: 0;
            }
          }
        }
      }
      .culture_gird {
        .culture_list_mobile {
          .culture_item {
            .content {
              font-size: 0.8rem;
            }
          }
        }
      }
      .recruit {
        .main_btn {
          width: 55px;
          text-align: center;
        }
      }
    }
    footer {
      a {
        color: $white;
      }
      .footer_info {
        .social .social_list {
          padding-top: 450px;
        }
        .copy_right small {
          padding: 20px 0;
        }
      }
      .footer_sitemap {
        top: 310px;
        left: 0;
      }
    }
  }
}
@keyframes slide {
  0% {
    width: 0;
    height: 0;
    background-image: linear-gradient(
      to right bottom,
      $prtimes_color,
      $prtimes_color
    );
  }

  100% {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      to right bottom,
      $prtimes_color,
      $prtimes_color
    );
  }
}
@keyframes loading {
  0% {
    transform: translateY(100px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes loading_fadeOut {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes T_animation {
  0% {
    border-left: 16px solid transparent;
    border-bottom: 25px solid white;
  }
  100% {
    top: 50px;
  }
}
@keyframes T_animation_mobile {
  0% {
    border-left: 9px solid transparent;
    border-bottom: 11px solid white;
  }
  100% {
    top: 30px;
  }
}
@keyframes header_fadeIn {
  100% {
    z-index: 9;
  }
}
