@font-face {
  font-family: YakuHanJP;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/YakuHanJPs-Light.woff"); }
@font-face {
  font-family: PRTIMES;
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/PRTimes.woff") format("woff"); }
@font-face {
  font-family: "Noto Sans CJK";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/NotoSansCJKjp-Regular.woff"); }
@font-face {
  font-family: "Noto Sans CJK";
  font-style: bold;
  font-weight: 700;
  src: url("/fonts/NotoSansCJKjp-Bold.woff"); }
@font-face {
  font-family: "Noto Sans CJK";
  font-weight: 900;
  src: url("/fonts/NotoSansCJKjp-Black.woff"); }
body {
  font-family: YakuHanJP, "Noto Sans CJK", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 16px; }

h1 {
  font-family: PRTIMES, sans-serif;
  letter-spacing: 4px;
  font-size: 4rem; }
  h1 span {
    font-family: YakuHanJP, "Noto Sans CJK", sans-serif;
    padding: 0 10px;
    font-size: 1rem;
    letter-spacing: 2px; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }

.main_btn {
  position: relative;
  display: inline-block;
  background-color: #f85414;
  color: white;
  text-decoration: none;
  font-size: 0.8rem;
  padding: 18px 55px;
  border-radius: 30px;
  font-weight: 900; }
  .main_btn:hover::before {
    transform: scale(1.2); }
  .main_btn::before {
    position: absolute;
    display: inline-block;
    content: "";
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background-color: #f85414;
    transition: all 1s; }

.line_animation {
  padding: 0 35px;
  border-bottom: solid 3px white;
  position: relative; }
  .line_animation:hover::before {
    padding: 0 35px; }
  .line_animation::before {
    content: "";
    position: absolute;
    float: right;
    top: 22px;
    right: 0px;
    padding: 0 15px;
    border-bottom: solid 3px #2c4c7c;
    transition: all 1s; }

.line_animation_2 {
  position: absolute;
  float: right;
  transition: all 1s;
  border-bottom: solid 3px white;
  bottom: 10px;
  right: 14px;
  padding: 0 7px; }
  .line_animation_2:hover {
    padding: 0 35px; }
  .line_animation_2::after {
    content: "";
    position: absolute;
    padding: 0 28px;
    bottom: -3px;
    right: 14px;
    border-bottom: solid 3px #909ce4;
    transition: all 0.2s;
    z-index: -1; }
  .line_animation_2::before {
    content: "";
    position: absolute;
    padding: 0 35px;
    bottom: -3px;
    right: 0;
    border-bottom: solid 3px white;
    transition: all 1s;
    z-index: -1; }

.cursor_pointer_orange {
  cursor: pointer; }

.wrapper header {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  background-color: white;
  z-index: 9; }
  .wrapper header .header_bg {
    position: fixed;
    top: 0; }
    .wrapper header .header_bg .mobile_menu {
      position: absolute;
      display: none;
      flex-direction: column;
      top: 80px;
      left: 35px;
      background-color: #2c4c7c;
      width: 100%;
      height: 100vh;
      z-index: 2; }
      .wrapper header .header_bg .mobile_menu .mobile_menu_item {
        display: inline-block;
        color: white;
        padding: 8px 15px;
        font-size: 1.3rem;
        text-decoration: none;
        font-weight: bold; }
        .wrapper header .header_bg .mobile_menu .mobile_menu_item:hover {
          color: #f85414; }
      .wrapper header .header_bg .mobile_menu .mobile_menu_footer {
        position: absolute;
        bottom: 100px;
        width: 100%;
        display: flex;
        justify-content: space-between; }
        .wrapper header .header_bg .mobile_menu .mobile_menu_footer .social_items {
          width: 30%; }
          .wrapper header .header_bg .mobile_menu .mobile_menu_footer .social_items .social_item {
            display: inline-block;
            text-decoration: none;
            color: white;
            padding: 0 5px; }
            .wrapper header .header_bg .mobile_menu .mobile_menu_footer .social_items .social_item .fa-facebook-f::before,
            .wrapper header .header_bg .mobile_menu .mobile_menu_footer .social_items .social_item .fa-twitter::before,
            .wrapper header .header_bg .mobile_menu .mobile_menu_footer .social_items .social_item .fa-instagram::before {
              font-size: 20px; }
        .wrapper header .header_bg .mobile_menu .mobile_menu_footer .company_service {
          width: 190px;
          float: right; }
          .wrapper header .header_bg .mobile_menu .mobile_menu_footer .company_service a {
            text-decoration: none;
            color: white; }
    .wrapper header .header_bg::before {
      content: "";
      position: relative;
      width: 0px;
      height: 0px;
      top: 0;
      left: 0;
      display: block;
      border-top: 30px solid #2c4c7c;
      border-bottom: 30px solid transparent;
      border-right: 30px solid transparent; }
  .wrapper header nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 15px 30px; }
    .wrapper header nav .logo {
      display: flex;
      width: 30%; }
      .wrapper header nav .logo img {
        width: 160px;
        height: 60px; }
      .wrapper header nav .logo p {
        text-transform: uppercase;
        color: #2c4c7c;
        font-weight: 700;
        padding: 10px 7px 0 7px;
        font-size: 12px; }
    .wrapper header nav .menu {
      padding: 21px 0;
      width: auto; }
      .wrapper header nav .menu .menu_item {
        display: inline-block;
        text-decoration: none;
        color: #484848;
        font-size: 14px;
        padding: 0 10px;
        font-weight: bolder; }
    .wrapper header nav .mobile_menu_btn {
      position: relative;
      padding: 21px 0;
      display: none; }
      .wrapper header nav .mobile_menu_btn #open_mobile_menu {
        color: #2c4c7c;
        position: absolute;
        right: 5px;
        top: 30%; }
      .wrapper header nav .mobile_menu_btn #close_mobile_menu {
        color: white;
        position: absolute;
        right: 8px;
        top: 30%;
        visibility: hidden; }
.wrapper .container .hero_grid {
  padding: 100px 0;
  color: #2c4c7c;
  height: 800px;
  width: 100%; }
  .wrapper .container .hero_grid .description {
    padding: 0 10%; }
    .wrapper .container .hero_grid .description h1 {
      font-size: 5.5rem; }
    .wrapper .container .hero_grid .description h3 {
      font-size: 2rem;
      position: relative; }
      .wrapper .container .hero_grid .description h3::before {
        content: "";
        position: absolute;
        width: 35px;
        border-bottom: solid 2px #2c4c7c;
        top: 20px;
        left: -47px; }
      .wrapper .container .hero_grid .description h3 span {
        display: block;
        font-size: 2rem; }
  .wrapper .container .hero_grid .slide {
    display: flex;
    position: relative;
    z-index: 2; }
    .wrapper .container .hero_grid .slide .slide_cover:hover ~ .slide_des .line_animation_2 {
      padding: 0 35px; }
    .wrapper .container .hero_grid .slide .slide_des:hover ~ .slide_cover {
      transform: scaleY(1.03); }
    .wrapper .container .hero_grid .slide .carousel {
      position: absolute;
      top: -60px;
      right: 85px;
      font-size: 1rem;
      display: flex; }
      .wrapper .container .hero_grid .slide .carousel p {
        display: inline-block;
        letter-spacing: 4px;
        color: #484848;
        font-weight: bold; }
      .wrapper .container .hero_grid .slide .carousel .order_transition::after {
        content: "";
        position: absolute;
        top: 27px;
        right: 152px;
        display: inline-block;
        border-bottom: solid 2px #484848;
        width: 14px; }
      .wrapper .container .hero_grid .slide .carousel .order_transition,
      .wrapper .container .hero_grid .slide .carousel .order_fixed {
        padding: 15px 5px;
        margin: 0 5px; }
      .wrapper .container .hero_grid .slide .carousel .previous_slide,
      .wrapper .container .hero_grid .slide .carousel .next_slide {
        padding: 16px 16px;
        text-align: center;
        background-color: #f4f3f3;
        border-radius: 50%;
        margin: 0 5px; }
    .wrapper .container .hero_grid .slide .slide_list {
      display: flex; }
      .wrapper .container .hero_grid .slide .slide_list .slide_item {
        display: none; }
        .wrapper .container .hero_grid .slide .slide_list .slide_item .slide_cover img {
          float: left;
          position: absolute;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: left center;
          clear: both;
          width: 70vw;
          height: 30vw;
          transition: all 0.5s ease-in-out; }
          .wrapper .container .hero_grid .slide .slide_list .slide_item .slide_cover img:hover {
            transform: scale(1.03); }
        .wrapper .container .hero_grid .slide .slide_list .slide_item .slide_des {
          float: right;
          position: absolute;
          background-color: #2c4c7c;
          color: white;
          padding: 3rem 2rem;
          top: 32px;
          right: 0;
          width: 30vw;
          height: 25vw; }
          .wrapper .container .hero_grid .slide .slide_list .slide_item .slide_des:hover .line_animation_2 {
            padding: 0 35px; }
          .wrapper .container .hero_grid .slide .slide_list .slide_item .slide_des h3 {
            font-size: 1rem;
            padding: 1.5rem 0;
            letter-spacing: 3px; }
          .wrapper .container .hero_grid .slide .slide_list .slide_item .slide_des p {
            font-size: 1.5em;
            font-weight: bold; }
.wrapper .container .mission_grid {
  position: relative;
  text-align: center;
  height: 650px; }
  .wrapper .container .mission_grid .mission_title {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center; }
    .wrapper .container .mission_grid .mission_title h1 {
      color: #f4f4f4;
      font-size: 10rem; }
  .wrapper .container .mission_grid .mission_body {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 180px;
    left: 0;
    right: 0;
    text-align: center;
    font-weight: 900; }
    .wrapper .container .mission_grid .mission_body p {
      color: #2c4c7c;
      font-size: 3rem; }
      .wrapper .container .mission_grid .mission_body p .mobile_block {
        content: "";
        display: none; }
.wrapper .container .services_grid {
  position: relative;
  width: auto;
  height: auto;
  background-image: linear-gradient(rgba(44, 76, 124, 0.8), rgba(44, 76, 124, 0.8)), url("/image/office.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  color: white;
  padding: 30px 60px; }
  .wrapper .container .services_grid .description p {
    font-size: 0.9rem;
    margin-bottom: 30px; }
  .wrapper .container .services_grid .service_list ul {
    display: grid;
    grid-template-columns: 50% 50%; }
    .wrapper .container .services_grid .service_list ul .service_item {
      border: solid white 1px;
      padding: 30px 30px;
      display: flex; }
      .wrapper .container .services_grid .service_list ul .service_item .cover {
        height: auto;
        position: relative;
        display: inline-block; }
        .wrapper .container .services_grid .service_list ul .service_item .cover img {
          width: 15vw;
          height: 15vw;
          vertical-align: top;
          position: relative;
          transform: translate(-50%);
          left: 50%;
          object-fit: cover; }
          .wrapper .container .services_grid .service_list ul .service_item .cover img:hover {
            opacity: 0.85; }
      .wrapper .container .services_grid .service_list ul .service_item .service_items_description {
        padding: 0 10px; }
        .wrapper .container .services_grid .service_list ul .service_item .service_items_description a {
          text-decoration: none;
          color: white; }
          .wrapper .container .services_grid .service_list ul .service_item .service_items_description a h3 {
            font-size: 1.1rem; }
  .wrapper .container .services_grid .service_btn {
    text-align: center;
    padding: 20px 0; }
    .wrapper .container .services_grid .service_btn a {
      margin: 0 10px; }
.wrapper .container .news_grid {
  padding: 50px 50px; }
  .wrapper .container .news_grid .description {
    position: relative;
    display: flex;
    color: #2c4c7c;
    justify-content: space-between; }
    .wrapper .container .news_grid .description a {
      position: relative;
      display: inline-block;
      color: #484848;
      text-align: center;
      margin: auto 0;
      font-size: 0.7rem; }
      .wrapper .container .news_grid .description a:hover ::before {
        width: 25px; }
      .wrapper .container .news_grid .description a ::before {
        content: "";
        position: relative;
        top: -2px;
        right: 10px;
        display: inline-block;
        border-bottom: solid 2px #484848;
        width: 16px;
        transition: all 0.3s ease-in-out; }
  .wrapper .container .news_grid .news_list .see_all_btn {
    display: none; }
  .wrapper .container .news_grid .news_list ul {
    list-style-type: none;
    display: flex;
    flex-direction: column; }
    .wrapper .container .news_grid .news_list ul a .news_item {
      display: inline-block;
      padding: 30px 30px;
      margin: 10px 0;
      background-color: #f4f3f3;
      position: relative;
      display: flex; }
      .wrapper .container .news_grid .news_list ul a .news_item:hover .news_detail .tag_news .line_animation::before {
        padding: 0 35px; }
      .wrapper .container .news_grid .news_list ul a .news_item .cover {
        position: relative;
        display: inline-block; }
        .wrapper .container .news_grid .news_list ul a .news_item .cover img {
          width: 15vw; }
      .wrapper .container .news_grid .news_list ul a .news_item .news_detail {
        color: #444444;
        padding: 0 20px;
        position: relative;
        width: 100%; }
        .wrapper .container .news_grid .news_list ul a .news_item .news_detail .news_summary {
          font-weight: 600; }
        .wrapper .container .news_grid .news_list ul a .news_item .news_detail .tag_news {
          text-align: center;
          display: flex;
          justify-content: space-between;
          position: relative; }
          .wrapper .container .news_grid .news_list ul a .news_item .news_detail .tag_news p {
            margin: 0;
            background-color: #848484;
            width: 125px; }
.wrapper .container .culture_gird {
  background-color: #f4f3f3;
  padding: 50px 50px;
  padding-bottom: 300px; }
  .wrapper .container .culture_gird .description {
    display: flex;
    justify-content: space-between; }
    .wrapper .container .culture_gird .description h1 {
      color: #2c4c7c; }
    .wrapper .container .culture_gird .description a {
      position: relative;
      display: inline-block;
      color: #484848;
      text-align: center;
      margin: auto 0;
      font-size: 0.7rem; }
      .wrapper .container .culture_gird .description a:hover ::before {
        width: 25px; }
      .wrapper .container .culture_gird .description a ::before {
        content: "";
        position: relative;
        top: -2px;
        right: 10px;
        display: inline-block;
        border-bottom: solid 2px #484848;
        width: 16px;
        transition: all 0.3s ease-in-out; }
  .wrapper .container .culture_gird .culture_list {
    display: flex;
    justify-content: center;
    align-items: center; }
    .wrapper .container .culture_gird .culture_list .culture_item {
      padding: 0 30px;
      position: relative;
      width: 23vw;
      height: 16vw; }
      .wrapper .container .culture_gird .culture_list .culture_item:hover .content .line_animation_2 {
        padding: 0 35px; }
      .wrapper .container .culture_gird .culture_list .culture_item:hover .cover img {
        transform: scale(1.1); }
      .wrapper .container .culture_gird .culture_list .culture_item .cover {
        position: relative;
        height: 16.1vw;
        overflow: hidden; }
        .wrapper .container .culture_gird .culture_list .culture_item .cover img {
          width: 23vw;
          height: 16vw;
          transition: all 0.5s ease-in-out; }
      .wrapper .container .culture_gird .culture_list .culture_item .content {
        position: relative;
        background-color: #2c4c7c;
        color: white;
        padding: 20px 25px;
        height: 200px;
        font-weight: bold;
        font-size: 1.1rem;
        z-index: 1; }
      .wrapper .container .culture_gird .culture_list .culture_item .culture_tag {
        position: absolute;
        bottom: -18px;
        background-color: white;
        color: #2c4c7c;
        font-size: 0.6rem;
        text-align: center;
        padding: 1.3px 10px;
        z-index: 2;
        font-weight: bold; }
        .wrapper .container .culture_gird .culture_list .culture_item .culture_tag::before {
          content: "";
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 18px 18px 0 0;
          border-color: #fff transparent transparent;
          content: "";
          position: absolute;
          right: -18px;
          top: 0; }
  .wrapper .container .culture_gird .culture_list_mobile {
    display: none; }
    .wrapper .container .culture_gird .culture_list_mobile .culture_item {
      margin: 0 30px;
      position: relative; }
      .wrapper .container .culture_gird .culture_list_mobile .culture_item img {
        width: 75vw;
        transition: all 0.5s ease-in-out; }
      .wrapper .container .culture_gird .culture_list_mobile .culture_item .content {
        display: inline-block;
        position: relative;
        margin: 0;
        background-color: #2c4c7c;
        color: white;
        padding: 20px 25px;
        height: 100px;
        width: auto;
        font-weight: bold;
        font-size: 1.1rem;
        z-index: 1; }
      .wrapper .container .culture_gird .culture_list_mobile .culture_item .culture_tag {
        position: absolute;
        bottom: 125px;
        background-color: white;
        color: #2c4c7c;
        font-size: 0.6rem;
        text-align: center;
        padding: 1.3px 10px;
        z-index: 2;
        font-weight: bold; }
        .wrapper .container .culture_gird .culture_list_mobile .culture_item .culture_tag::before {
          content: "";
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 18px 18px 0 0;
          border-color: #fff transparent transparent;
          content: "";
          position: absolute;
          right: -18px;
          top: 0; }
  .wrapper .container .culture_gird .see_all_btn {
    display: none; }
.wrapper .container .recruit_mobile {
  display: none;
  position: relative;
  padding: 0 30px; }
  .wrapper .container .recruit_mobile .recruit_bg {
    position: absolute;
    top: -35px;
    left: 20px; }
    .wrapper .container .recruit_mobile .recruit_bg h1 {
      color: #f4f4f4;
      font-size: 6rem; }
  .wrapper .container .recruit_mobile .description {
    position: relative;
    padding-top: 125px;
    padding-left: 30px; }
    .wrapper .container .recruit_mobile .description .recuit_label {
      position: absolute;
      top: 80px;
      left: 32px;
      display: inline-block;
      background-color: #2c4c7c;
      color: white;
      padding: 5px 30px;
      font-size: 0.7rem;
      font-weight: bold; }
    .wrapper .container .recruit_mobile .description .recuit_content {
      color: #2c4c7c;
      font-size: 1.4rem;
      font-weight: bold;
      margin-top: 10px;
      margin-bottom: 60px;
      line-height: 1.4; }
.wrapper .container .recruit {
  background-image: url("/image/recruit_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 30%;
  position: relative;
  z-index: 1;
  padding: 125px 125px; }
  .wrapper .container .recruit .recruit_bg {
    position: absolute;
    top: -72px;
    left: 0; }
    .wrapper .container .recruit .recruit_bg h1 {
      color: rgba(244, 244, 244, 0.45);
      font-size: 10rem; }
  .wrapper .container .recruit .description {
    position: relative; }
    .wrapper .container .recruit .description .recuit_label {
      display: inline-block;
      background-color: #2c4c7c;
      color: white;
      padding: 5px 30px;
      font-size: 0.7rem;
      font-weight: bold; }
    .wrapper .container .recruit .description .recuit_content {
      color: #2c4c7c;
      font-size: 2.5rem;
      font-weight: bold;
      margin-top: 10px;
      margin-bottom: 60px; }
.wrapper footer {
  position: relative;
  background-color: #2c4c7c;
  display: grid;
  grid-template-columns: 46% 25% 25% 4%;
  padding: 5% 7%; }
  .wrapper footer a {
    color: white; }
  .wrapper footer .footer_info {
    padding: 5px 0; }
    .wrapper footer .footer_info .logo img {
      width: 160px;
      height: 65px; }
    .wrapper footer .footer_info .social .social_list {
      display: flex;
      padding: 0; }
      .wrapper footer .footer_info .social .social_list .social_item {
        display: inline-block;
        margin-right: 10px;
        transition: all 0.3s; }
        .wrapper footer .footer_info .social .social_list .social_item:hover {
          transform: scale(1.3); }
    .wrapper footer .footer_info .copy_right small {
      display: inline-block;
      padding: 50px 0;
      color: #abb4c4;
      font-size: 0.7rem;
      font-weight: bold; }
  .wrapper footer .footer_menu .footer_menu_list {
    display: flex;
    flex-direction: column; }
    .wrapper footer .footer_menu .footer_menu_list .footer_menu_item {
      padding: 5px 0;
      display: inline-block;
      font-weight: bold;
      font-size: 0.9rem; }
  .wrapper footer .footer_sitemap .footer_sitemap_list {
    display: flex;
    flex-direction: column; }
    .wrapper footer .footer_sitemap .footer_sitemap_list .footer_sitemap_item {
      padding: 5px 0;
      width: 145px;
      display: inline-block;
      font-weight: bold;
      font-size: 0.9rem; }
      .wrapper footer .footer_sitemap .footer_sitemap_list .footer_sitemap_item a {
        color: #abb4c4; }
    .wrapper footer .footer_sitemap .footer_sitemap_list .service_site {
      display: inline-block;
      border: solid white 1px;
      padding: 10px 10px;
      margin: 0;
      margin-top: 15px;
      font-weight: lighter;
      font-size: 0.8rem;
      text-align: center; }
      .wrapper footer .footer_sitemap .footer_sitemap_list .service_site a {
        color: white; }
  .wrapper footer .page_top {
    display: inline-block;
    width: 100px;
    top: -55px;
    right: 80px;
    position: relative;
    text-transform: uppercase;
    color: white;
    letter-spacing: 3px;
    font-size: 0.9rem;
    font-weight: bold;
    transform: rotate(90deg);
    transition: all 0.8 ease-in-out; }
    .wrapper footer .page_top:hover {
      top: -65px; }
    .wrapper footer .page_top::before {
      content: "";
      position: absolute;
      top: 7px;
      right: 100px;
      display: inline-block;
      width: 30px;
      border-bottom: solid 6px white; }
    .wrapper footer .page_top::after {
      content: "";
      position: absolute;
      top: 7px;
      right: 130px;
      display: inline-block;
      border-style: solid;
      border-width: 6px 0px 0px 12px;
      border-color: #fff transparent transparent;
      width: 7px; }

@media (max-width: 1200px) {
  .wrapper .container .hero_grid .slide .slide_list .slide_item .slide_des {
    height: 23vw;
    padding: 2rem 2rem; }
    .wrapper .container .hero_grid .slide .slide_list .slide_item .slide_des h3 {
      font-size: 0.8rem;
      padding: 1rem 0;
      letter-spacing: 3px; }
    .wrapper .container .hero_grid .slide .slide_list .slide_item .slide_des p {
      font-size: 1.2rem;
      font-weight: bold; } }
@media (max-width: 1085px) {
  .wrapper header nav .logo {
    width: 20%;
    flex-direction: column; }
    .wrapper header nav .logo p {
      padding-top: 0; } }
@media (max-width: 960px) {
  .wrapper header nav {
    padding: 10px 10px; }
    .wrapper header nav .menu {
      display: none; }
    .wrapper header nav .mobile_menu_btn {
      display: block; }
    .wrapper header nav .logo {
      width: 100%;
      flex-direction: row;
      padding: 0 25px; }
      .wrapper header nav .logo p {
        padding: 10px 7px 0 7px; }
  .wrapper .container .recruit {
    padding: 125px 100px; }
  .wrapper footer {
    grid-template-columns: 40% 26% 26% 8%; } }
@media (max-width: 768px) {
  h1 {
    font-family: PRTIMES, sans-serif;
    letter-spacing: 4px;
    font-size: 3rem; }

  .wrapper .container .hero_grid {
    padding: 10px 0;
    height: 700px; }
    .wrapper .container .hero_grid .description {
      padding: 0 10%; }
      .wrapper .container .hero_grid .description h1 {
        font-size: 3rem; }
      .wrapper .container .hero_grid .description h3 {
        font-size: 1.3rem;
        position: relative; }
        .wrapper .container .hero_grid .description h3::before {
          width: 20px;
          top: 14px;
          left: -25px; }
        .wrapper .container .hero_grid .description h3 span {
          display: block;
          font-size: 1.3rem; }
    .wrapper .container .hero_grid .slide .carousel .order_transition,
    .wrapper .container .hero_grid .slide .carousel .order_fixed {
      display: none; }
    .wrapper .container .hero_grid .slide .carousel .previous_slide,
    .wrapper .container .hero_grid .slide .carousel .next_slide {
      padding: 0;
      margin: 0;
      position: relative;
      background-color: transparent;
      color: white;
      z-index: 1;
      top: 225px; }
    .wrapper .container .hero_grid .slide .carousel .next_slide {
      right: -60px; }
    .wrapper .container .hero_grid .slide .slide_list .slide_item .slide_cover img {
      background-position: center center;
      clear: both;
      width: 100%;
      height: 50vw; }
    .wrapper .container .hero_grid .slide .slide_list .slide_item .slide_des {
      position: absolute;
      color: white;
      padding: 0.8rem 1rem;
      top: 45vw;
      right: 12vw;
      width: 70vw;
      height: 30vw; }
      .wrapper .container .hero_grid .slide .slide_list .slide_item .slide_des h3 {
        font-size: 0.7rem;
        padding: 0.5rem 0;
        letter-spacing: 3px; }
      .wrapper .container .hero_grid .slide .slide_list .slide_item .slide_des p {
        font-size: 1rem;
        font-weight: bold; }
  .wrapper .container .mission_grid {
    position: relative;
    text-align: center;
    height: 450px;
    margin-top: 30px; }
    .wrapper .container .mission_grid .mission_title {
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      text-align: center; }
      .wrapper .container .mission_grid .mission_title h1 {
        color: #f4f4f4;
        font-size: 6rem; }
    .wrapper .container .mission_grid .mission_body {
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      top: 120px;
      text-align: center;
      font-weight: 900; }
      .wrapper .container .mission_grid .mission_body p {
        color: #2c4c7c;
        margin: 0 auto;
        font-size: 2rem; }
        .wrapper .container .mission_grid .mission_body p .mobile_block {
          content: "";
          display: none; }
  .wrapper .container .services_grid .description h1 span {
    display: block;
    padding: 0; }
  .wrapper .container .services_grid .service_list ul {
    grid-template-columns: 100%;
    padding-left: 0; }
    .wrapper .container .services_grid .service_list ul .service_item .service_items_description {
      padding: 0 10px; }
      .wrapper .container .services_grid .service_list ul .service_item .service_items_description a {
        text-decoration: none;
        color: white; }
        .wrapper .container .services_grid .service_list ul .service_item .service_items_description a h3 {
          font-size: 0.9rem; }
      .wrapper .container .services_grid .service_list ul .service_item .service_items_description p {
        font-size: 0.8rem; }
  .wrapper .container .services_grid .service_btn a {
    display: block;
    margin: 20px auto;
    width: 125px; }
  .wrapper .container .news_grid .description .see_all {
    display: none; }
  .wrapper .container .news_grid .description span {
    display: block;
    padding: 0; }
  .wrapper .container .news_grid .news_list .see_all_btn {
    display: inline-block;
    padding: 10px 55px;
    position: relative;
    margin-top: 20px;
    transform: translate(-50%);
    left: 50%; }
  .wrapper .container .news_grid .news_list ul {
    padding: 0; }
    .wrapper .container .news_grid .news_list ul a .news_item {
      padding: 30px 30px;
      margin: 0; }
      .wrapper .container .news_grid .news_list ul a .news_item .cover img {
        width: 100px; }
      .wrapper .container .news_grid .news_list ul a .news_item .news_detail {
        font-size: 0.8rem;
        padding: 0 20px;
        width: 100%; }
        .wrapper .container .news_grid .news_list ul a .news_item .news_detail .tag_news p {
          margin: 0;
          width: 120px;
          font-size: 0.8rem; }
        .wrapper .container .news_grid .news_list ul a .news_item .news_detail .tag_news .line_animation {
          display: none; }
  .wrapper .container .culture_gird {
    padding-bottom: 100px; }
    .wrapper .container .culture_gird .description h1 span {
      display: block;
      padding: 0; }
    .wrapper .container .culture_gird .description .see_all {
      display: none; }
    .wrapper .container .culture_gird .see_all_btn {
      display: inline-block;
      position: relative;
      padding: 10px 55px;
      transform: translate(-50%);
      left: 53%;
      width: 130px;
      text-align: center;
      top: 60px; }
    .wrapper .container .culture_gird .culture_list {
      display: none; }
    .wrapper .container .culture_gird .culture_list_mobile {
      display: block; }
  .wrapper .container .recruit_mobile {
    display: block; }
  .wrapper .container .recruit .recruit_bg,
  .wrapper .container .recruit .description {
    display: none; }
  .wrapper .container .recruit a {
    left: 50%;
    top: 130px;
    transform: translate(-50%, -50%); }
  .wrapper footer {
    grid-template-columns: 50% 50%; }
    .wrapper footer a {
      color: white; }
    .wrapper footer .footer_info .social .social_list {
      padding-top: 250px; }
    .wrapper footer .footer_info .copy_right small {
      padding: 20px 0; }
    .wrapper footer .footer_menu {
      position: absolute;
      top: 93px;
      left: 12px; }
    .wrapper footer .footer_sitemap {
      position: absolute;
      top: 95px;
      left: 250px; }
    .wrapper footer .page_top {
      position: absolute;
      top: 135px;
      right: 0; } }
@media (max-width: 550px) {
  .wrapper .container .hero_grid .slide .carousel .previous_slide,
  .wrapper .container .hero_grid .slide .carousel .next_slide {
    top: 175px; }
  .wrapper footer a {
    color: white; }
  .wrapper footer .footer_info .social .social_list {
    padding-top: 250px; }
  .wrapper footer .footer_info .copy_right small {
    padding: 20px 0; }
  .wrapper footer .footer_menu {
    left: 0; }
    .wrapper footer .footer_menu .footer_menu_list .footer_menu_item {
      font-size: 0.75rem; }
  .wrapper footer .footer_sitemap {
    left: 120px; }
    .wrapper footer .footer_sitemap .footer_sitemap_list .footer_sitemap_item {
      font-size: 0.75rem; } }
@media (max-width: 400px) {
  .wrapper .container .hero_grid .description h1 {
    font-size: 2.2rem; }
  .wrapper .container .hero_grid .description h3 {
    font-size: 1rem; }
    .wrapper .container .hero_grid .description h3::before {
      top: 12px;
      width: 15px;
      left: -18px; }
    .wrapper .container .hero_grid .description h3 span {
      font-size: 1rem; }
  .wrapper .container .hero_grid .slide .slide_list .slide_item .slide_des {
    height: 50vw; }
  .wrapper .container .hero_grid .slide .carousel .previous_slide,
  .wrapper .container .hero_grid .slide .carousel .next_slide {
    top: 140px; }
  .wrapper .container .recruit_mobile .recruit_bg {
    top: -35px;
    left: 0; }
    .wrapper .container .recruit_mobile .recruit_bg h1 {
      color: #f4f4f4;
      font-size: 5rem; }
  .wrapper .container .recruit_mobile .description {
    position: relative;
    padding-left: 0; }
    .wrapper .container .recruit_mobile .description .recuit_label {
      top: 60px;
      left: 5px;
      font-size: 0.55rem; }
  .wrapper .container .mission_grid .mission_title h1 {
    font-size: 4.8rem; }
  .wrapper .container .mission_grid .mission_body {
    top: 95px; }
    .wrapper .container .mission_grid .mission_body p {
      font-size: 1.6rem; }
  .wrapper .container .news_grid {
    padding: 50px 20px; }
    .wrapper .container .news_grid .news_list ul a .news_item {
      width: 93%;
      padding: 30px 20px;
      margin: 0; }
  .wrapper .container .culture_gird .culture_list_mobile .culture_item .content {
    font-size: 0.8rem; }
  .wrapper .container .recruit .main_btn {
    width: 55px;
    text-align: center; }
  .wrapper footer a {
    color: white; }
  .wrapper footer .footer_info .social .social_list {
    padding-top: 450px; }
  .wrapper footer .footer_info .copy_right small {
    padding: 20px 0; }
  .wrapper footer .footer_sitemap {
    top: 310px;
    left: 0; } }
@keyframes slide {
  0% {
    width: 0;
    height: 0;
    background-image: linear-gradient(to right bottom, #2c4c7c, #2c4c7c); }
  100% {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right bottom, #2c4c7c, #2c4c7c); } }

/*# sourceMappingURL=style.css.map */
